<!DOCTYPE html>
<html>
<head>
  <title>Homepage</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous" />
</head>
<body class="d-flex align-items-center justify-content-center container flex-column lead" style="height: 800px;">
    <div class="alert alert-success"  th:if="${success}" role="alert" data-th-text="#{label.lang.loginSuccess}">
    </div>
    <div class="container"  th:if="${success}">
      <p th:text="|#{label.lang.name}  ${user.name}|" />
      <p th:text="|#{label.lang.username} ${user.userName}|" />
      <p th:text="|#{label.lang.role} ${user.role}|" />
    </div>
    <form action="/manager" method="post" th:if="${user.role != 'USER'}">
      <button type="submit" data-th-text="#{label.lang.restricted}"></button>
    </form>
    <br />
    <form action="/logout" method="post">
      <button class="btn btn-outline-dark btn-lg m-5" type="submit" data-th-text="#{label.lang.logout}"></button>
    </form>
</body>
</html>