<!DOCTYPE HTML>
<html>
    <head> 
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous" />
    </head>
    <body class="d-flex align-items-center justify-content-center container flex-column lead" style="height: 800px;">
        <div>
            <p data-th-text="#{label.chooseLang}" class="box w-100"></p>
            <span>
                <a href="/?language=en" data-th-text="#{label.lang.en}"></a>
                <a href="/?language=ch" data-th-text="#{label.lang.ch}"></a>
            </span>
        </div>
        <br />
        <form action="/login" method="post" class="box w-100 items-center justify-content-center" >
            <div class="alert alert-danger" th:if="${error}" role="alert" data-th-text="#{label.lang.error}">
            </div>
            <div class="alert alert-dark" th:if="${logout}" role="alert" data-th-text="#{label.lang.logoutSuccess}">
            </div>
            <h2 class="fw-bold mb-2 text-uppercase" data-th-text="#{label.lang.login}"></h2>
            <div class="form-outline form-white mb-4">
                <label class="form-label" for="UsernameID" data-th-text="#{label.lang.username}"></label>
                <input type="text" name="username" id="UsernameID" class="form-control form-control-lg" />
            </div>
            <div class="form-outline form-white mb-4">
                <label class="form-label" for="PasswordID" data-th-text="#{label.lang.password}"></label>
                <input type="password" name="password" id="PasswordID" class="form-control form-control-lg" />
            </div>
            <button class="btn btn-outline-dark btn-lg m-5" type="submit" data-th-text="#{label.lang.login}"></button>
        </form>
    </body>
</html>
